<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head"></head>
<body>
<header th:replace="fragments::header"></header>
<form method="post">
    <div class="form-group">
        <label>
            Name
            <input th:field="${eventCategory.name}"
                   class="form-control" type="text">
        </label>
        <span th:errors="${eventCategory.name}" class="error"></span>

        <input type="submit" value="Create!" class="btn btn-primary">
    </div>
</form>
</body>
</html>